html {
  overflow-y: scroll;
  font-size: 20px;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
  margin-bottom: -250px;
  background-color: #f2f2f2;
}

pre {
  border: none;
}

::-webkit-scrollbar {
  width: 0px
}
